<Style name="power-lines">
    <Rule>
        &minz13; &maxz13;
        <Filter>[power] = 'line'</Filter>
        <LineSymbolizer stroke="black" stroke-width="0.5" />
    </Rule>
    <Rule>
        &minz14; &maxz14;
        <Filter>[power] = 'line'</Filter>
        <LineSymbolizer stroke="black" stroke-width="0.7" />
    </Rule>
    <Rule>
        &minz15;
        <Filter>[power] = 'line'</Filter>
        <LineSymbolizer  stroke="black" stroke-width="1.0" />
    </Rule>
</Style>
